<template>
    <div v-if="state.logged_in || true">


        <div v-if="state.extractor_active_count && state.extractor_active_count>0" class="d-flex align-items-center p-4">
            <b-spinner variant="success" label="extracting..." class="mr-3"></b-spinner>
            Extracting users info ...
        </div>

        <div v-else class="d-flex py-4 px-3 align-items-center">
            <b-button
                @click="startExtract"
                variant="success" :disabled="!(mode && username && list_name)" class="mr-3">Extract:</b-button>
            <b-select class="mr-3" v-model="mode">
                <b-select-option :value="null" class="text-capitalize">Select a mode</b-select-option>
                <b-select-option value="followers">Followers</b-select-option>
                <b-select-option value="following">Followings</b-select-option>
                <b-select-option value="suggested">Suggested</b-select-option>
                <b-select-option value="followers_you_follow">Followers You Follow</b-select-option>
            </b-select>
            <label class="mr-3">
                of
            </label>
            <b-form-input class="mr-3" name="username"  v-model="username" placeholder="@Username"/>
            <b-form-input class="mr-3" name="listName"  v-model="list_name" placeholder="List Name"/>
            <b-form-input class="mr-3" name="listName"  v-model="limit" placeholder="Users Count"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddTargets',
    data() {
        return {
            mode: 'following',
            username: 'hadi_aliakbar',
            list_name: 'hadi list',
            limit: 1000,
        }
    },
    computed: {
        state() {
            return this.$store.state;
        }
    },
    methods: {
        startExtract() {
            const {mode, username, list_name,limit} = this;
            this.$socket.emit('start_extract', {mode, username, list_name,limit});
        }
    }
}
</script>

<style scoped>

</style>