<template>
    <div class="">
        <div class="text-center">
            <b-button :variant="$store.state.headless ? 'info' : 'outline-info'"
                      @click="$socket.emit('set_headless',!$store.state.headless);"
                      class="mx-auto"
            >HeadLess
            </b-button>
        </div>
        <b-card :key="render_counter" class="text-center text-uppercase">
            <div class="d-flex flex-wrap">
                <div v-for="(val,key) in state" :key="key" class="mr-4">
                        <span v-if="val && val.length">
                            <span class="text-primary">{{ key }} : </span>
                            <span class="">{{ val }}</span>
                        </span>
                </div>
            </div>
            <template v-if="!$store.state.browser_open">
                <b-card-header class="text-danger border-danger">Browser is closed!</b-card-header>
                <b-card-body v-if="last_429" class="text-center">
                    last 429:{{ last_429 }}
                </b-card-body>
                <b-button @click="openBrowser" class="mt-3 text-uppercase mx-auto" variant="success">open browser
                </b-button>
            </template>
            <template v-else>
                <b-button @click="closeBrowser" class="mt-3 text-uppercase mx-auto" variant="danger">close browser
                </b-button>
            </template>

            <Login/>
        </b-card>
        <AddTargets/>
        <ImpressService/>
        <b-button class="my-3" variant="outline-info" @click="show_users = !show_users">{{show_users ? 'Hide Users' : 'Show Users'}}</b-button>
        <ListUsers v-if="show_users"/>
        <Log/>
        <br>
    </div>
</template>

<script>
import moment from 'moment';
import Login from "@/views/Login";
import AddTargets from "@/views/AddTarget";
import ListUsers from "@/views/ListUsers";
import ImpressService from "@/views/ImpressService";
import Log from "@/views/Log";

export default {
    name: 'HomePage',
    components: {Log, ImpressService, ListUsers, AddTargets, Login},
    async mounted() {
        this.$socket.emit('hi', 12345)
        setInterval(() => {
            if (this.render_counter > 1000) {
                this.render_counter = 0;
            }
            this.render_counter++;
        }, 500);
    },
    computed: {
        authState() {
            return this.$store.state.authState;
        },
        state() {
            return this.$store.state;
        },
        last_429() {
            if (!this.state.last_429) {
                return null;
            }
            return moment(this.state.last_429).fromNow()
        }
    },
    data: function () {
        return {
            phoneNumber: null,
            secretCode: null,
            browser_render: 0,
            render_counter: 0,
            show_users: false,
        }
    },
    methods: {
        sendPhoneNumber() {
            this.$socket.emit('phone_number', this.phoneNumber)
        },
        sendSecretCode() {
            this.$socket.emit('secret_code', this.secretCode);
        },
        openBrowser() {
            this.$socket.emit('open_browser');
        },
        closeBrowser() {
            this.$socket.emit('close_browser');
        }
    },
    watch: {
        //todo not working fix it
        /*  '$store.state.browser_open':{
              handler(n,o){
                  this.browser_render++;
              },
              deep:true,
          }*/
    }
}
</script>

