<template>
    <div>
        <b-button v-if="!state.service_impress_running" variant="success"  @click="$socket.emit('start_impress_service')">Start Impressing</b-button>
        <div v-else>
            <b-spinner /> Impression Service is running...
        </div>
    </div>
</template>
<script>
export default {
    name: 'ImpressService',
    computed:{
        state(){
            return this.$store.state;
        }
    }
}
</script>