<template>
    <div>
        <b-modal id="cols-modal" scrollable size="500">
            <div class="d-flex flex-column px-4">
                <div v-for="f of fields"
                     :key="f"
                >
                    <b-checkbox size="lg" class="p-2 mr-4 text-capitalize"
                                v-model="checked[f]"
                    >
                        {{ f.replaceAll('_', ' ') }}
                    </b-checkbox>
                    <b-button size="sm" @click="goUP(f)">UP</b-button>
                    <b-button size="sm" @click="goDown(f)">DOWN</b-button>
                </div>
            </div>
        </b-modal>

        <div v-if="users">
            <label for="filter">filter</label>
            <b-input placeholder="Filter" name="filter" id="filter" v-model="filter"/>
            <div class="d-flex p-4 justify-content-between">
                <b-button class="text-capitalize" variant="outline-primary" @click="$bvModal.show('cols-modal')">change
                    columns
                </b-button>
                <b-button @click="hide_impressed = !hide_impressed"
                          :variant="hide_impressed ? 'primary' : 'outline-primary'" class="text-capitalize">hide
                    impressed
                </b-button>
                <b-button @click="hide_followings = !hide_followings"
                          :variant="hide_followings ? 'primary' : 'outline-primary'" class="text-capitalize">hide my
                    followings
                </b-button>
                <b-button @click="hide_followers = !hide_followers"
                          :variant="hide_followers ? 'primary' : 'outline-primary'" class="text-capitalize">hide my
                    followers
                </b-button>
                <b-button @click="hide_dislike = !hide_dislike"
                          :variant="hide_dislike ? 'primary' : 'outline-primary'" class="text-capitalize">hide Dislikes
                </b-button>
                <b-button @click="hide_pending = !hide_pending"
                          :variant="hide_pending ? 'primary' : 'outline-primary'" class="text-capitalize">hide Pendings
                </b-button>
                <b-button @click="fetchList" variant="outline-info" class="text-capitalize">Update Users</b-button>

            </div>
            of {{ users.length }} users
            <b-table ref="table" sticky-header="60" style="min-height:70vh;" class="mt-5" :items="filtered_users"
                     :fields="selected_fields"
                     :filter="filter"
                    @row-clicked="onRowClicked"
            >
                <template #cell(profileImageUrlHttps)="data">
                    <img v-if="data.item && data.item.profileImageUrlHttps" :src="data.item.profileImageUrlHttps" height="60"
                         width="60"/>
                </template>
                <template #head(select)="data">
                    <b-checkbox v-model="select_all" @change="allSelectChanged($event)"/>
                </template>
                <template #cell(select)="data">
                    <b-checkbox v-model="data.item.select" />
                </template>
                <template #cell(entities)="data">
                    <div
                        v-if="data.item.entities && data.item.entities && data.item.entities.description && data.item.entities.url">
                        <div
                            v-for="(it,index) in [...data.item.entities.description.urls,...data.item.entities.url.urls,]">
                            <a :href="it.url">{{ it.display_url }}</a>
                        </div>
                    </div>
                </template>
            </b-table>
            <b-button variant="outline-success" @click="impress_selected">Impress Selected</b-button>
        </div>
        <modal-user ref="modalUser" />
    </div>
</template>

<script>
import ModalUser from "@/views/ModalUser";
export default {
    name: "ListUsers",
    components: {ModalUser},
    async mounted() {
        try {
            this.selected_fields = JSON.parse(localStorage.getItem('selected_fields'));
            let checked = JSON.parse(localStorage.getItem('checked'));
            this.checked = checked || {};
            this.loadPriorities();
        } catch (e) {
        }
        await this.fetchList()
        this.calcSelectedFields()
    },
    data() {
        return {
            users: null,
            filter: null,
            checked: {},
            selected_fields: [],
            hide_impressed: true,
            hide_followings: true,
            hide_followers: true,
            priorities: {},
            render_modal: 0,
            hide_dislike: true,
            hide_pending: true,
            selected_users: {},
            select_all: false,
        }
    },
    methods: {
        goUP: function (fields) {
            if (!this.priorities[fields]) {
                this.priorities[fields] = 0;
            }
            this.priorities[fields]++;
            this.savePriorities()
            this.reRender();
        },
        goDown(field) {
            if (this.priorities[field] && this.priorities[fields] > 0) {
                this.priorities[field]--;
            }
            this.savePriorities()
            this.reRender();
        },
        savePriorities() {
            localStorage.setItem('priorities', JSON.stringify(this.priorities));
            'has set priorities', localStorage.getItem('priorities');
        },
        loadPriorities() {
            try {
                this.priorities = JSON.parse(localStorage.getItem('priorities'))
            } catch (e) {
            }
        },
        calcSelectedFields() {
            this.selected_fields = this.fields.filter(it => this.checked[it]).map(it => ({key: it, sortable: true,}))
            localStorage.setItem('selected_fields', JSON.stringify(this.selected_fields));
            localStorage.setItem('checked', JSON.stringify(this.checked));
        },
        async reRender() {
            let temp = this.users;
            this.users = null;
            await this.$nextTick()
            this.users = temp;
            temp = null;
        },
        async fetchList() {
            const {data} = await this.$axios.get('/users');
            console.log('users:', data);
            this.users = data.filter(it => Object.keys(it).length > 0);
        },
        onRowClicked(user) {
            this.$refs.modalUser.show(user);
        },
        async allSelectChanged(arg) {
            console.log('allSelectChanged called with', arg);
            let list =[];
            try {
                list = this.$refs.table.filteredCheck.filteredItems
            } catch (e) {
                alert('ridi')
            }
            for (let k in list) {
                list[k].select = arg
            }
            let temp = [...this.users];
            this.users = null;
            await this.$nextTick()
            this.users = temp;
            temp = null;
        },
        async impress_selected() {
            if (!this.users) {
                return;
            }
            for (let k in this.users) {
                let user = this.users[k];
                if (user.select) {
                    console.log('want_impress', user.screenName);
                    this.$socket.emit('want_impress', user.screenName);
                    await new Promise(r => setTimeout(r, 100));
                }
            }
        }
    },
    watch: {
        checked: {
            handler(n, o) {
                this.calcSelectedFields()
            },
            deep: true,
        }
    },
    computed: {
        fields() {
            if (!this.users) {
                return [];
            }
            let list_of_filters = ['profileImageUrlHttps','select'];
            for (let usersKey in this.users) {
                let user = this.users[usersKey];
                if (!user) continue;
                for (const key in user) {
                    if (!list_of_filters.includes(key)) {
                        list_of_filters.push(key);
                    }
                }
            }
            //reorder
            let ordered = [];
            let orders = {};
            try {
                for (let key of list_of_filters) {
                    if (this.priorities && this.priorities[key]) {
                        if (!orders[this.priorities[key]]) {
                            orders[this.priorities[key]] = []
                        }
                        orders[this.priorities[key]].push(key)
                    } else {
                        ordered.push(key);
                    }
                }
                for (const priorityListKey in orders) {
                    let priorityList = orders[priorityListKey];
                    console.log('inserting high priority', priorityListKey, priorityList);
                    ordered.splice(0, 0, ...priorityList);
                }
            } catch (e) {
                console.error(e);
            }

            return ordered;
        },
        filtered_users() {
            let list = this.users;
            if (this.hide_followers) {
                list = list.filter(it => !it.following)
            }
            if (this.hide_followers) {
                list = list.filter(it => !it.followed_by);
            }
            if (this.hide_impressed) {
                list = list.filter(it => !it.impressed);
            }
            if (this.hide_dislike) {
                list = list.filter(it => !it.dislike);
            }
            if (this.hide_pending) {
                list = list.filter(it => !it.pending_impress);
            }
            return list;
        }
    }
}
</script>

<style scoped>

</style>