<template>
    <div :key="render_counter">
        Logs:
        <div v-if="logs" class="border-primary " style="max-height: 600px;overflow-y: scroll;">
            <p v-for="(val,index) of logs" :key="index"><span class="text-muted">{{val.date.toISOString()}} -</span> {{ val.text }}</p>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Log',
    computed: {
        logs() {
            return this.$store.getters.logs;
        }
    },
    watch:{
        logs(n,l){
            this.render_counter++;
        }
    },
    data() {
        return {
            render_counter: 0,
        }
    }
}
</script>