<template>
    <div>
        <h2>Login</h2>
        <p>Status: {{state.login_log}}</p>
        <b-button
                class="mt-3 "
                variant="primary"
                v-if="!state.logged_in"
                @click="$socket.emit('login')"
        >
            Login
        </b-button>

        <b-button
            class="mt-3"
            variant="outline-danger"
            v-if="state.logged_in"
            @click="$socket.emit('logout')"
            >Log out</b-button>
    </div>
</template>

<script>
export default {
  name:'Login',
  computed:{
    state(){
      return this.$store.state;
    }
  }
}
</script>

<style scoped>

</style>