<template>
    <div>
        <b-modal id="userModal" v-if="user" hide-header hide-footer hide-header-close centered >
            <div class="d-flex align-items-center">
                <img class="mr-3" v-if="user.profileImageUrlHttps" :src="user.profileImageUrlHttps" height="64" width="64"/>
                <h2 >{{ user.name }} ({{ user.screenName }})</h2>
            </div>
            <p class="mt-3">
                {{ user.description }}
            </p>
            <div class="mt-4 d-flex">
                <b-button class="mr-3"  variant="outline-success" @click="impressUser">impress {{user.impressed ? ' Already at ' + user.impressed_at : ''}}</b-button>
                <b-button class="mr-3"  variant="outline-danger" @click="dislikeUser">dislike</b-button>
                <b-button class="ml-auto" variant="outline-info" @click="hide">close</b-button>
            </div>
            <div class="d-flex flex-wrap">
                <template v-for="key in new Set([...fields,...Object.keys(user)])">
                    <p v-if="user[key] && typeof user[key] !== 'object'" class="mt-3 pr-5 pb-1 mb-0">
                        {{key}}: <span class="font-weight-bold">{{user[key]}}</span>
                    </p>
                </template>
                <template v-for="key in Object.keys(user)">
                    <p v-if="typeof user[key] !== 'object'" class="mt-3 pr-5 pb-1 mb-0">
                        {{key}}: <span class="font-weight-bold">{{user[key]}}</span>
                    </p>
                </template>
                <template v-for="key in Object.keys(user)">
                    <p v-if="typeof user[key] == 'object'" class="mt-3 pr-5 pb-1 mb-0">
                        {{key}}: <span class="font-weight-bold">{{user[key]}}</span>
                    </p>
                </template>
            </div>

        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'ModalUser',

    data() {
        return {
            user: null,
            fields: ['pending_impress','impressed','location','following','followedBy','followersCount','createdAt','birthdate','canDm','blocking',
                'blockedBy','mediaCount','muting','verified','protected',]
        }
    },
    methods: {
        show(user) {
            this.user = user;
            this.$bvModal.show('userModal');
        },
        hide() {
            this.$bvModal.hide('userModal');
            this.user = null;
        },
        impressUser() {
            this.$socket.emit('want_impress', this.user.screenName);
        },
        dislikeUser() {
            this.$socket.emit('dislike', this.user.screenName);
        }
    }
}
</script>

<style >
.modal-dialog{
    min-width: 800px;
}
</style>